.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.login-logo {
  margin: 40px auto;
  object-fit: contain;
  width: 100px;
}

.login-container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  border: 1px solid lightgrey;
  padding: 20px;
}

.login-container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login-container > form > h5 {
  margin-bottom: 5px;
}

.login-container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.login-container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login-signInButton {
  width: 100%;
  margin-top: 10px;
  background-color: rgb(249,216,77);
  border: 1px solid;
  border-radius: 10px;
  margin-top: 9px;
  height: 30px;
  border-color: rgb(246,210,71);
  color: black;
  box-shadow: 0px 0px 6px 1px rgb(242, 242, 242)
}
.login-signInButton:hover {
  background-color: rgb(240,202,69);
  border-color: rgb(235,195,66);
}

.login-registerButton {
  border-radius: 9px;
  height: 30px;
  width: 100%;
  border: 1px solid lightgrey;
  margin-top: 10px;
}
.login-registerButton:hover {
  background-color: rgb(201, 201, 201);
}